<div class="container">
  <div>
    <h3>Lista de Usuario</h3>
  </div>

  <div>
    <form [formGroup]="formData" (ngSubmit)="saveUser(formData.value)">
      <table class="table">
        <tr>
          <td><input class="form-control" type="text" placeholder="documento" formControlName="document" required /></td>
          <td><input class="form-control" type="text" placeholder="nome" formControlName="name" required/></td>
          <td><input class="form-control" type="text" placeholder="email" formControlName="email" required/></td>
          <td><input class="btn btn-primary" type="submit" value="Salvar" ></td>
        </tr>
      </table>
    </form>
  </div>

  <div>
    <table class="table">
      <tr>
        <th>id</th>
        <th>Nome</th>
        <th>Documento</th>
        <th>Email</th>
      </tr>
  
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td><a href="javascript:void(0)" (click)="selectUser(user)">{{user.name}}</a></td>
        <td>{{user.document}}</td>
        <td>{{user.email}}</td>
      </tr>
    </table>
  </div>
</div>
