<div class="container" *ngIf="selectedUser">
  <div>
    <h4>Conta: {{selectedUser.name}} - Saldo: {{selectedUser.accounts[selectedUser.accounts.length-1].balance}}</h4>
  </div>

  <br>

  <div>
    <input type="button" value="Inserir Aporte" (click)="setAction('aporte')">
    <input type="button" value="Saque" (click)="setAction('saque')">
    <input type="button" value="Extrato" (click)="setAction('extrato')">
    <input type="button" value="Comprar Ações" (click)="setAction('comprar')">
    <input type="button" value="Vender Ações" (click)="setAction('vender')">
  </div>

  <br>

  <div *ngIf="action === 'aporte'">
    <input type="number" placeholder="Valor do Aporte" [(ngModel)]="aportValue">
    <input type="button" value="Inserir Aporte" (click)="addAporte()">
  </div>

  <div *ngIf="action === 'saque'">
    <input type="number" placeholder="Valor de Saque" [(ngModel)]="withdrawValue">
    <input type="button" value="Saque" (click)="withdraw()">
  </div>

  <div *ngIf="action === 'extrato'">
    <table class="table">
      <tr>
        <th>id</th>
        <th>Tipo Movimentação</th>
        <th>Valor</th>
        <th>Saldo</th>
        <th>Descrição</th>
        <th>Data</th>
      </tr>
      <tr *ngFor="let item of selectedUser.accounts">
        <td>{{item.id}}</td>
        <td>{{item.type}}</td>
        <td>{{item.value}}</td>
        <td>{{item.balance}}</td>
        <td>{{item.description}}</td>
        <td>{{item.createdAt}}</td>
      </tr>
    </table>
  </div>

  
  <br>
  <br>
  
  <div *ngIf="action === 'comprar'">
    <table class="table">
      <tr>
        <th>Ação</th>
        <th>Valor</th>
        <th>Data</th>
        <th></th>
      </tr>

      <tr *ngFor="let item of quotesIndex">
        <td>{{item}}</td>
        <td>{{quotesData[item][item]}}</td>
        <td>{{quotesData[item]['timestamp'] | date: 'yyyy-MM-dd' }}</td>
        <td><input class="btn btn-success" (click)="buy(item, quotesData[item])" type="button" value="Comprar"></td>
      </tr>
    </table>
  </div>

  <div *ngIf="action === 'vender'">
    <table class="table">
      <tr>
        <th>Ação</th>
        <th>Quantity</th>
        <th></th>
      </tr>
      <tr *ngFor="let item of userQuotes">
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td><input class="btn btn-success" (click)="sell(item)" type="button" value="Vender"></td>
      </tr>
    </table>
  </div>
</div>
